# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
redislua-showcase
server

# Environment variables & secrets
.env
.env.*
!.env.example

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Test coverage & debug outputs
*.out
*.prof
